body {
 background-color: blueviolet;
 background-image: url(../image/logo-javascript-png-html-code-allows-to-embed-javascript-logo-in-your-website-587.png);
 background-repeat: no-repeat;
 background-position: center;
 height: 100vh;
}