body {
  background-color: blueviolet;
  background-image: url(94ae2dcd4fa410811cab4e1fbb403340.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

